<div class="col-sm-8 blog-main">

  <nav class="blog-pagination mb-3">
    <%= paginate @blogs, pagination_class: "pagination-sm" %>
  </nav>

  <%= render @blogs %>

  <nav class="blog-pagination mb-3">
    <%= paginate @blogs, pagination_class: "pagination-sm" %>
  </nav>

</div>

